<%- include('partials/header') %>

<section id="send-message" class="page-container">
    <div class="send-message-container">
        <div class="users-intro">
            <p> Send <%=decryptUsername %> a message</p>
        </div>
        <div>
            <% if (messages.error) { %>
                <div>
                    <p class="<%= messages.error.length > 0 ? 'error' : '' %> message" id="error"> <%= messages.error %> </p>
                </div>
            <% } else if (messages.success) { %>
                <div>
                    <p class="<%= messages.success.length > 0 ? 'success' : '' %> message" id="success"> <%= messages.success %> </p>
                </div>
            <% } %>
        </div>
        <div>
            <form class="message-form" action="/users/<%= username %>/sendmask" method="post">
                <div>
                    <textarea rows="5" cols="35" type="text" name="maskMessage" placeholder="Write your message and hide behind the MASK...."></textarea>
                </div>
                <button type="submit">
                    Hide behind the mask
                    <img src="/images/mask-icon.png" alt="mask-icon">
                </button>
            </form>
        </div>
        <% if (messages.success) { %>
            <div class="submit-div">
                <button class="submit-btn" type="submit">
                    <a href="https://mask-app-production.up.railway.app/register">Sign Up</a>
                </button>
            </div>
        <% } %>
    </div>
</section>

<%- include('partials/footer') %>